<%= form_with(model: locatario) do |form| %>
  <% if locatario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locatario.errors.count, "error") %> prohibited this locatario from being saved:</h2>

      <ul>
        <% locatario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.radio_button :sexo, "Masculino" %>Masculino
    <%= form.radio_button :sexo, "Feminino" %>Feminino
    <%= form.radio_button :sexo, "Outro" %>Outro
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
