<p id="notice"><%= notice %></p>

<h1>Locatarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data nascimento</th>
      <th>Sexo</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locatarios.each do |locatario| %>
      <tr>
        <td><%= locatario.nome %></td>
        <td><%= locatario.data_nascimento.strftime("%d/%m/%Y") %></td>
        <td><%= locatario.sexo %></td>
        <td><%= locatario.endereco %></td>
        <td><%= link_to 'Show', locatario %></td>
        <td><%= link_to 'Edit', edit_locatario_path(locatario) %></td>
        <td><%= link_to 'Destroy', locatario, method: :delete, data: { confirm: 'Tem certeza que quer excluir o locatario?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locatario', new_locatario_path %>
