<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @locatario.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @locatario.data_nascimento.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @locatario.sexo %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @locatario.endereco %>
</p>

<%= link_to 'Edit', edit_locatario_path(@locatario) %> |
<%= link_to 'Back', locatarios_path %>
