<p id="notice"><%= notice %></p>

<h1>Locatarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Data de nascimento</th>
      <th>sexo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locatarios.each do |locatario| %>
      <tr>
        <td><%= locatario.nome %></td>
        <td><%= locatario.email %></td>
        <td><%= locatario.senha %></td>
        <td><%= locatario.data_nascimento %></td>
        <td><%= locatario.sexo %></td>
        <td><%= link_to 'Show', locatario %></td>
        <td><%= link_to 'Edit', edit_locatario_path(locatario) %></td>
        <td><%= link_to 'Destroy', locatario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locatario', new_locatario_path %>
<%= link_to "Sign Out", destroy_locatario_session_path, method: :delete %>