<%= form_with(model: emprestimo) do |form| %>
  <% if emprestimo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emprestimo.errors.count, "error") %> prohibited this emprestimo from being saved:</h2>

      <ul>
        <% emprestimo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <% if @emprestimo.carro %>
      <%= form.hidden_field 'carro_id' %>
    <% else %>
      <%= form.label :carro_id %> <br/>
      <%= form.collection_select(:carro_id, Carro.order('marca'), :id, :marca, {:prompt => true}, class: "form-control") %>
    <% end %>
  </div>

  <div class="form-group">
    <% if @emprestimo.locatario %>
      <%= form.hidden_field 'locatario_id' %>
    <% else %>
      <%= form.label :locatario_id %> <br/>
      <%= form.collection_select(:locatario_id, Locatario.order('nome'), :id, :nome, {:prompt => true}, class: "form-control") %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :data_checkin %>
    <%= form.datetime_select :data_checkin %>
  </div>

  <div class="field">
    <%= form.label :data_checkout %>
    <%= form.datetime_select :data_checkout %>
  </div>

  <div class="field">
    <%= form.label :limite_km %>
    <%= form.text_field :limite_km %>
  </div>

  <div class="field">
    <%= form.label :meio_pagamento %>
    <%= form.text_field :meio_pagamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
