<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Locadora M&Q</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      </div>
  </div>
</nav>
<div class="container ">
  <h1>Empréstimos</h1>
  <table class="table table-striped">
    <p id="notice"><%= notice %></p>
      <thead>
        <tr>
          <td>Data checkin</td>
          <td>Data checkout</td>
          <td>Limite km</td>
          <td>Meio pagamento</td>
          <td colspan="3"></td>
        </tr>
      </thead>

      <tbody>

        <% @emprestimos.each do |emprestimo| %>
          <tr>
            <td><%= emprestimo.data_checkin %></td>
            <td><%= emprestimo.data_checkout %></td>
            <td><%= emprestimo.limite_km %></td>
            <td><%= emprestimo.meio_pagamento %></td>
            <td><%= link_to 'Mostrar', emprestimo %></td>
            <td><%= link_to 'Editar', edit_emprestimo_path(emprestimo) %></td>
            <td><%= link_to 'Deletar', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

      <%= link_to 'Novo Emprestimo', new_emprestimo_path,method: :get, class:"btn  btn-sm-5 btn-success text-white"%>
      
       <%= link_to 'Voltar', root_path ,method: :get, class:"btn  btn-sm-5 btn-success text-white"%>
</div>