<p id="notice"><%= notice %></p>

<p>
  <strong>Locatario:</strong>
  <%= @emprestimo.locatario.nome %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @emprestimo.carro.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @emprestimo.carro.modelo %>
</p>

<p>
  <strong>Data checkin:</strong>
  <%= @emprestimo.data_checkin.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong>Data checkout:</strong>
  <%= @emprestimo.data_checkout.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong>Limite km:</strong>
  <%= @emprestimo.limite_km %>
</p>

<p>
  <strong>Meio pagamento:</strong>
  <%= @emprestimo.meio_pagamento %>
</p>

<%= link_to 'Edit', edit_emprestimo_path(@emprestimo) %> |
<%= link_to 'Imprimir', emprestimo_path(@emprestimo, format: "pdf")%> |
<%= link_to 'Back', emprestimos_path %>
