<p id="notice"><%= notice %></p>

<h1>Emprestimos</h1>

<table>
  <thead>
    <tr>
      <th>Data checkin</th>
      <th>Data checkout</th>
      <th>Limite km</th>
      <th>Meio pagamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.data_checkin %></td>
        <td><%= emprestimo.data_checkout %></td>
        <td><%= emprestimo.limite_km %></td>
        <td><%= emprestimo.meio_pagamento %></td>
        <td><%= link_to 'Show', emprestimo %></td>
        <td><%= link_to 'Edit', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Destroy', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emprestimo', new_emprestimo_path %>
