<p id="notice"><%= notice %></p>

<h1>Emprestimos</h1>

<table>
  <thead>
    <tr>
      <th>Data check in</th>
      <th>Data check out</th>
      <th>Limite km</th>
      <th>Wepay access token</th>
      <th>Wepay account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.data_check_in %></td>
        <td><%= emprestimo.data_check_out %></td>
        <td><%= emprestimo.limite_km %></td>
        <td><%= emprestimo.wepay_access_token %></td>
        <td><%= emprestimo.wepay_account_id %></td>
        <td><%= link_to 'Show', emprestimo %></td>
        <td><%= link_to 'Edit', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Destroy', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emprestimo', new_emprestimo_path %>
